@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #caeb66;
  --color-secondary: #03373d;
  --color-accent: #606060;
  --color-base-100: #303030;
  --color-base-200: #dadada;
  --color-base-300: #03464D;
}
/* DADADA */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #eaeced;
}

a {
  text-decoration: none;
}

a.active {
  color: #1f1f1f;
  background-color: #caeb66;
  padding: 6px 12px;
  border-radius: 50px;
}

#button:hover {
  color: #1f1f1f;
  background-color: #caeb66;
  border: 1px solid #caeb66;
}
