@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #caeb66;
  --color-secondary: #03373d;
  --color-accent: #606060;
  --color-base-100: #303030;
  --color-base-200: #dadada;
  --color-base-300: #eaeced;
  --color-info: #03464d;
  --color-neutral: #0F172A;
  --color-neutral-content: #94A3B8;
  --color-warning: #71717A;
  --color-warning-content: #8FA748;
}
/* DADADA */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #eaeced;
}

a.active {
  color: #1f1f1f;
  background-color: #caeb66;
  padding: 6px 12px;
  border-radius: 50px;
}

#button:hover {
  color: #1f1f1f;
  background-color: #caeb66;
  border: 1px solid #caeb66;
}

.customer-review-pagination {
  position: static !important;
  width: auto !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.customer-review-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin: 0 !important;
  border-radius: 9999px;
  background: #94c6cb;
  opacity: 1;
  transition: all 0.3s ease;
}

.customer-review-pagination .swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  background: #03373d;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}